{% extends "::base.html.twig" %}

{% block body %}
<table>
    <tr>
        <td>Film Title: {{ film.title }}</td>
    </tr>
    <tr>
        <td>Year: {{ film.year }}</td>
    </tr>
    <tr>
        <td>Description: {{ film.description }}</td>
    </tr>
</table>

<a href="{{ url('films') }}">Back</a>
{% endblock %}